<!DOCTYPE html>
<html>
  <head>
    <title>Nvxl</title>
    <%= csrf_meta_tags %>
    <meta content="utf-8" http-equiv="encoding">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/d3/4.7.2/d3.min.js"></script> -->
    <!-- <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="http://clientstaging21.com/wp-content/themes/insta/style.css" type="text/css" media="screen" /> -->

  </head>
    <body style="width:100%;background-image: url('http://ftextures.com/textures/light-green-ceramic-tile.jpg');background-size:cover;background-repeat:no-repeat;">
      <section  style ='background-color:#587b78;width:100%;height:10vh;margin-top:-2vw;padding:0vw 1vw 0vw 1vw'>
        <div class="logo">
          <h2><img src="https://www.graphicsprings.com/filestorage/stencils/29c2824f9ba81b8e219075f347cf5e6b.svg" style="width:3vw;background-color:white;border-radius:10px;margin-top:1.5vw" alt="Project  Software" />
            </h2>
          <h2 style="color:white;margin:-3vw 0vw 0vw 4vw">Project Software</h2>
        </div><!--/logo-->
        <div style='float:right;margin-top:-3vw;color:white'>
          <div ><p><span class="glyphicon glyphicon-phone"></span> Live Chat</p>
          </div>
          <div ><p><span class="glyphicon glyphicon-user"></span> Login</p>
          </div>
        </div><!--/top-->
          </section><!--/head-->
    <%= yield %>
    <section class="foot">
<div class="copyright" style="margin:2vw;width:100%">
  <div >
    <p style="color:gray">2017 All Rights Reserved.</p>
  </div><!--/left-->
  <div class="right">
          </div><!--/right-->
</div><!--/copyright-->
  </body>
</html>
